.row
  %div{ "ng-show": "vm.show", "ng-animate": "animate", class: "home backdrop animated fadeIn", style: "background-image: url({{vm.backdrop_url}})"}
    .backdrop__credits
      .backdrop__still-credits
        .small
          Still from
          %a{ href: "//www.imdb.com/title/{{vm.imdb_id}}", target: "_blank" } {{vm.title}}
          ({{vm.release_year}})
      .backdrop__site-credits
        .small
          Made by fans in Rotterdam, The Netherlands
          %br
          Film data supplied by
          %a{ href: "//www.letterboxd.com/", target: "_blank" } Letterboxd
          and
          %a{ href: "//www.tmdb.org/", target: "_blank" } TMDb
  .col
    .logo
      %img{src: image_path("logo.png"), width: "80px"}

    %div{ "search" => true }