%div{ :class => "home backdrop", :style => "background-image: url(https://image.tmdb.org/t/p/original/ts4j3zYaPzdUVF3ijBeBdGVDWjX.jpg)"}
  %div{ :class => "logo" }
    %img{ :src => "http://inwallspeakers1.com/wp-content/uploads/2013/12/beats-by-dre-logo-png.png", :width => "80px"}
  %div{ "search" => true }
  %div{ :class => "backdrop__subjacent" }
    %p
      Still from Dan Gilroy's
      %a{ :href => "http://www.imdb.com/title/tt2872718/" } Nightcrawler
      (2014)