%div{ class: "search-box" }
  %h1 Welcome
  %p
    Don't you have a clue which movie to watch next?
    %br
    Fill in your or multiple Letterboxd users and we will give you custom advice.
  %form.center-block
    .form-group
      %input{ class: "form-control", placeholder: "Letterboxd username" }

    .div{ "select-last": true, "ng-repeat": "item in items track by $index" }
      %input{ "ng-model": "item", id: "item-{{$index}}", class: "form-control input-{{$index}}" }

    %input{ type: "submit", class: "btn btn-primary", value: "Give me advice"}
    %btn{ class: "btn", "ng-click": "add()" } +
