%div{ class: "search-box" } 
  %h1 Hello,
  %p Don't you have a clue which movie to watch next?
  %p Fill in your or multiple Letterboxd users and we will give you custom advice.
  %input{ placeholder: "Letterboxd username" }
  / %a{ href: '#', class: 'btn btn-primary' } Zoek