* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: $body-bg ;
  color: $text-color;
  font-size: $font-size-base;
}

a {
  color: $link-color;

  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

p {
  line-height: 1.9;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}