.container
  .row
    .col-lg-6
      .h1 Ex Machina
      (2015)
    .col-lg-6
      8.0

  .row
    .col-lg-2
      plaat
    .col-lg-10
      .p There Is Nothing More Human Than The Will To Survive
      .p Caleb, a 24 year old...

  .row
    .col-lg-3
      .h2 Cast &amp; Crew
    .col-lg-3
      caleb 1
    .col-lg-3
      caleb 2
    .col-lg-3
      caleb 3

  .row
    .col-lg-3
      release date
    .col-lg-3
      movie trailer
    .col-lg-6
      youtube trailer

  .row
    .col-lg-9
      oscars
    .col-lg-3
      awards &amp; prices

  .row
    .col
      .h3 More information
      buttons
