// backdrop
.backdrop {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	top: 0;
	background-size: cover;

	&:before {
		content: '';
		background: #000;
		opacity: 0.3;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
	}

	&__subjacent {
		position: fixed;
		bottom: 12px;
		left: 12px;
		color: #bbb;
		font-size: 0.75em;
	}
}