// backdrop
.backdrop {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	top: 0;
	background-size: cover;
	background-position: center top;

	&:before {
		content: '';
		background: #000;
		opacity: 0.3;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
	}

	&__info {
		position: absolute;
		bottom: 12px;
		left: 12px;
		font-size: 0.9em;

		a {
			color: #fff;
			text-decoration: underline;
		}
	}

	&__site-credits {
		position: absolute;
		bottom: 12px;
		right: 12px;
		font-size: 0.75em;


		&, a {
			color: #bbb;
		}
		a {
			text-decoration: underline;
		}
	}
}