.box {
  margin-top: $grid-gutter-width;
  background: #383838;
  position: relative;

  &__header {
    padding-bottom: $grid-gutter-width / 2;
    margin: 0 0 $grid-gutter-width / 2;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(#fff, 0.4);
  }

  &__content {
    background: inherit; // same as box bg color
    padding: $grid-gutter-width / 2;
    padding-bottom: 999px;
    margin-bottom: -999px;

    &:after {
      content: '';
      display: block;
      padding-bottom: $grid-gutter-width / 2; // same as box__content padding;
    }
  }

  &__subtitle {
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: $font-size-base;
  }

  &__value {
    @include font-bold;
    margin: 0;
  }

  .btn {
    margin-top: $grid-gutter-width;
  }

  &.box-primary {
    background: $brand-primary;
  }

  &.box-secondary {
    background: #161616;
  }

  &.box-tertiary {
    background: #222;
  }

  &.bubble-right {
    &:after {
      position: absolute;
      content: '';
      top: $grid-gutter-width;
      right: -10px;
      width: $grid-gutter-width;
      height: $grid-gutter-width;
      z-index: -1;
      background: inherit; // same as box bg color
      transform: rotate(45deg);
    }
  }

  &.bubble-left {
    &:after {
      @extend .bubble-right;
      left: -10px;
      right: auto;
    }
  }
}