.box {
  //padding: $grid-gutter-width / 2;
  margin-top: $grid-gutter-width;
  background: #383838;
  position: relative;

  &__content {
    background: inherit; // same as box bg color
    padding: $grid-gutter-width / 2;
    padding-bottom: 9999px;
    margin-bottom: -9999px;

    &:after {
      content: '';
      display: block;
      padding-bottom: $grid-gutter-width / 2; // same as box__content padding;
    }
  }

  h1,
  .h1 {
    margin-top: 0;
  }

  &.box-primary {
    background: $brand-primary;
  }

  &.box-secondary {
    background: #161616;
  }

  &.box-tertiary {
    background: #222;
  }

  &.bubble-right {
    &:after {
      position: absolute;
      content: '';
      top: $grid-gutter-width;
      right: -10px;
      width: $grid-gutter-width;
      height: $grid-gutter-width;
      z-index: -1;
      background: inherit; // same as box bg color
      transform: rotate(45deg);
    }
  }

  &.bubble-left {
    &:after {
      @extend .bubble-right;
      left: -10px;
      right: auto;
    }
  }
}