.btn {
  @include font-bold;
  @include button-variant(#fff, transparent, transparent);

  border-width: 1px;
  outline: 0;
  font-size: 1em;
  padding: 10px 25px;
  border-radius: 2px;

  &.btn-primary {
    // @include button-variant(#fff, $brand-primary, transparent);
    color: #fff;
    background: $brand-primary;
    border: 0;
  }

  &.btn-secondary {
    @include button-variant(#fff, transparent, #fff);
    //color: #fff;z
    //background: $brand-primary;
    //border: 0;
    font-weight: normal;
  }
}