.form {

  &-group {
    margin-bottom: 20px;
  }

  &-control {
    background: transparent;
    border: 0;
    border-bottom: 2px solid #fff;
    color: $text-color;
    text-align: center;
    outline: 0;
    box-shadow: none;
    border-radius: 0;
    font-size: $font-size-h3;
    height: auto;

    @include placeholder {
      color: $text-color;
      font-weight: 300;
      font-style: italic;
    }

    &:hover
    &:active,
    &:focus {
      @extend .form-control;
    }
  }
}