h2,
.subtitle {
  max-width: 70%;
  border-bottom: 1px solid rgba(#fff, 0.4);
  padding-bottom: 30px;
  margin: 0 0 30px;
  text-transform: uppercase;
}

.poster {

  img {
    max-width: 100%;
  }
}

.tagline {
  text-transform: uppercase;
}

.overview {

}

.castitem {

  img {
    max-width: 100%;
  }
}