.movie {
  padding: 132px 0;

  .row {
    overflow: hidden;
  }

  &__backdrop {
    @extend .backdrop;

    position: absolute;
    background-image: url(https://image.tmdb.org/t/p/original/9X3cDZb4GYGQeOnZHLwMcCFz2Ro.jpg);
    height: 80%;
    box-shadow: inset 0 -100px 175px 0 rgba(#000,0.75);
    z-index: -1;

    &:before {
      opacity: 0.5;
    }
  }
}

.movie__header {
  border-bottom: 1px solid rgba(#fff, 0.4);
  padding-bottom: $grid-gutter-width;
  margin-bottom: $grid-gutter-width;

  h1 {
    @include font-bold;
    display: inline-block;
    margin-top: 0;
  }

  .h3 {
    margin-left: 20px;
    display: inline-block;
  }
}

.movie__subheader {
  p {
    margin-left: 20px;
    text-transform: uppercase;
    display: inline-block;
  }
}

.movie__footer {
  border-top: 1px solid rgba(#fff, 0.4);
  margin-top: $grid-gutter-width * 2;

  .h3 {
    margin-bottom: $grid-gutter-width;
  }
}

.poster {

  img {
    max-width: 100%;
  }
}

.tagline {
  text-transform: uppercase;
}

.castitem {
  position: relative;
  text-align: center;

  img {
    max-width: 100%;
  }

  &__overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(#000, 0.6);
    transition: all 0.2s;

    span {
      position: relative;
      transform: translateY(-50%);
      top: 50%;
    }

    &:hover {
      opacity: 1;
    }
  }
}