.movie {

  &__backdrop {
    @extend .backdrop;

    position: absolute;
    background-image: url(https://image.tmdb.org/t/p/original/9X3cDZb4GYGQeOnZHLwMcCFz2Ro.jpg);
    height: 80%;
    box-shadow: inset 0 -100px 175px 0 rgba(#000,0.75);
    z-index: -1;

    &:before {
      opacity: 0.5;
    }
  }
}

.movie-header {
  padding-top: 84px;
  border-bottom: 1px solid rgba(#fff, 0.4);
  padding-bottom: $grid-gutter-width;
  margin-bottom: $grid-gutter-width;

  h1 {
    display: inline-block;
  }
}

h2,
.subtitle {
  max-width: 70%;
  border-bottom: 1px solid rgba(#fff, 0.4);
  padding-bottom: $grid-gutter-width / 2;
  margin: 0 0 $grid-gutter-width / 2;
  text-transform: uppercase;
}

.poster {

  img {
    max-width: 100%;
  }
}

.tagline {
  text-transform: uppercase;
}

.overview {

}

.castitem {
  position: relative;
  text-align: center;

  img {
    max-width: 100%;
  }

  &__overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    transition: all 0.2s;

    span {
      position: relative;
      transform: translateY(-50%);
      top: 50%;
    }

    &:hover {
      opacity: 1;
    }
  }
}