// search bar
.search-box {
  position: relative;

  @media (min-width: $screen-sm-max) {
	  @include translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
  }

  text-shadow: 1px 1px 2px rgba(#000, 0.6);
	text-align: center;

  h1, p, .form-group {
    padding: 0;
    margin: 0 0 20px 0;
  }

  h1 {
    @include font-bold;
  }

  p {
    line-height: 1.5;
  }

  form {
    width: 75%;

    .form-group {
      position: relative;
      //margin: 0;
    }

    .btn-remove {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}